@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.quicksand-font-rale {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

.orange{
    color: #FEA301;
}
.skyblue{
    color: #01ACFD;
}
.lightsky{
    color: #05D4DF;
}
.beguni{
    color: #5D58EF;
}
*{
    margin: 0;
    padding: 0;
}

/* header start */

.navbar, .banner, .curriculum, .stories{
    margin: 0 auto;
    width: 80%;
}

.display-flex{
    display: flex;
}

.navbar{
    max-height: 62px;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
}

.nav-img{
    gap: 10px;
}

.schl{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger{
    display: none;
}

.border-line{
    display: none;
}

.font-size-20{
    font-size: 1.25rem;
}

.medium{
    font-weight: 500;
}

ul > li{
    list-style: none;
    margin: 0;
}

ul > li > a{
    text-decoration: none;
}

ul.list{
    margin: 0;
    padding: 0;
    gap: 32px;
}

.btn{
    height: 50px;
    width: 197px;
    background-color: #FEA301;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    text-align: center;
}

.banner-description{
    /* width: 55%; */
    /* height: 350px; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.font-56{
    font-size: 3.5rem;
}

.font-regular{
    font-weight: 400;
}

.banner-p{
    margin: 20px 0;
}

.btn-enroll{
    height: 50px;
    width: 197px;
    background-color: black;
    color: #FFFFFF;
    border: none;
    border-radius: 12px;
    text-align: center;
    font-weight: 700;
    margin: 0;
}

.banner{
    /* height: 575px; */
    flex-direction: row-reverse;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

/* main part start */
.curriculum-advance{
    background: url('../assets/bg.png');
}
.stories-advance{
    background: url('../assets/bg.png'), linear-gradient(to top, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    background-size: contain;
}

.curriculum{
    padding: 60px 0;
}

.standard{
    font-size: 2.8rem;
    text-align: center;
}

.card-section{
    margin: 80px 0;
    display: flex;
    justify-content: space-between;
}

.card{
    height: 476px;
    width: 367px;
    padding: 53px 40px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 18px;
    box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
}

.card-1{
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

.card-2{
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

.card-3{
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

.kind{
    margin: 32px 0;
    font-size: 24px;
}

.card-des{
    font-weight: 500;
    font-size: 15px;
    color: rgb(128, 128, 128);
}

.read{
    margin-top: 38px;
    font-size: 15px;
}

.arrow{
    height: 60px;
    width: 60px;
    background-color: orange;
    border-radius: 30px;
    padding: 17px 22px;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 900;
    color: white;
}

.arrow-icon{
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 60px;
}

.stories{
    padding: 60px 0;
    text-align: center;
}

.our-story{
    font-size: 46px;
    text-align: center;
}

.story-pic{
    margin: 80px 0;
    justify-content: space-between;
}

.big-pic{
    width: 540px;
    height: 630px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.story-big{
    border-radius: 16px 16px 0px 0px;
}

.story-1{
    border-radius: 16px 16px 0px 0px;
}

.story-big-btn{
    width: 174px;
    height: 47px;
    border-radius: 48px;
    background: rgb(60, 216, 232); 
    position: relative;
    margin-left: 38px;
    margin-top: -28px;
    font-weight: 500;
    font-size: 15px;
    padding: 14px 19px;
    box-sizing: border-box;
    color: white;
}

.story-1-btn{
    width: 174px;
    height: 47px;
    border-radius: 48px;
    background: rgb(60, 216, 232); 
    position: relative;
    margin-left: 38px;
    margin-top: -28px;
    font-weight: 500;
    font-size: 15px;
    padding: 14px 19px;
    box-sizing: border-box;
    color: white;
}

.btn-2{
    height: 38px;
    background: rgb(149, 178, 38);
    padding: 9px 19px;
}

.btn-3{
    background: rgb(93, 88, 240);
}

.story-1-des{
    font-size: 24px;
    margin-top: 61px;
    margin-left: 38px;
    width: 80%;
    text-align: left;
}

.story-beauty{
    margin-top: 51px;
    margin-left: 38px;
    width: 80%;
    color: rgb(102, 102, 102);
    font-size: 15.34px;
    font-weight: 500;
    text-align: left;
}

.four-pic{
    width: 290px;
    height: 301px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.find{
    margin-top: 23px;
    margin-left: 38px;
    width: 80%;
    font-size: 15px;
    text-align: left;
}

.grid-pic{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 19px;
}

.view{
    width: 197px;
    height: 50px;
    background: rgb(17, 17, 17);
    border-radius: 12px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    color: white;
    font-size: 20px;
}

/* footer section */

footer{
    height: 519px;
    width: 100%;
    background-color: rgb(1, 172, 253);
    padding: 100px 140px;
    box-sizing: border-box;
    color: white;
}
.foot-wid{
    width: 399px;
}
.kid{
    /* width: 20%; */
    font-size: 42px;
}
.kid-flex{
    align-items: center;
    gap: 10px;
}

.foot-des{
    margin-top: 35px;
    /* width: 30%; */
    font-weight: 400;
    font-size: 20px;
}
.about{
    font-size: 24px;
    margin-bottom: 32px;
}
.hafa{
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
}
.touch{
    font-size: 26px;
}
.social{
    margin-top: 32px;
}
.foot-design{
    justify-content: space-between;
}

/* responsive part */

@media screen and (max-width: 576px) {
    .list, .btn, .arrow-icon, .big-pic{
        display: none;
    }
    .hamburger{
        display: block;
        font-size: 30px;
    }
    .border-line{
        display: block;
        border: 1px solid orange;
        width: 100%;
    }
    .hero{
        width: 337px;
        height: 413px;
    }
    .banner{
        flex-direction: column;
        gap: 20px;
    }
    .banner-description{
        /* width: 100%; */
        text-align: center;
    }
    .font-56{
        font-size: 32px;
    }
    .font-size-20{
        font-size: 14px;
    }
    .btn-enroll{
        height: 42px;
        width: 131px;
        border-radius: 8px;
    }
    .standard{
        font-size: 26px;
    }
    .card-section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .stories{
        padding: 40px 0;
    }
    .our-story{
        font-size: 26px;
    }
    .four-pic{
        width: 173px;
        height: 179px;
        border-radius: 9.53px;
        
    }
    .story-1{
        width: 173px;
        height: 108px;
        border-radius: 9.53px 9.53px 0px 0px;
    }
    .story-1-btn{
        width: 103px;
        margin-left: 22px;
        margin-top: -14px;
        font-size: 9px;
    }
    .btn-2{
        height: 22px;
        padding: 5px 11px;
    }
    .find{
        margin-top: 14px;
        margin-left: 22px;
        width: 80%;
        font-size: 9px;
        text-align: left;
    }
    .story-pic{
        justify-content: center;
    }
    footer{
        height: 642px;
        padding: 40px 20px;
        box-sizing: border-box;
    }
    .foot-design{
        flex-direction: column;
        justify-content: center;
    }
    .about{
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .hafa{
        margin-bottom: 10px;
    }
}