@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.orange{
    color: #FEA301;
}
.skyblue{
    color: #01ACFD;
}
.lightsky{
    color: #05D4DF;
}
.beguni{
    color: #5D58EF;
}
*{
    margin: 0;
    padding: 0;
}

/* header start */

.navbar, .banner, .curriculum{
    margin: 0 auto;
    width: 80%;
}

.display-flex{
    display: flex;
}

.navbar{
    max-height: 62px;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
}

.nav-img{
    gap: 10px;
}

.schl{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger{
    display: none;
}

.border-line{
    display: none;
}

.font-size-20{
    font-size: 1.25rem;
}

.medium{
    font-weight: 500;
}

ul > li{
    list-style: none;
    margin: 0;
}

ul > li > a{
    text-decoration: none;
}

ul.list{
    margin: 0;
    padding: 0;
    gap: 32px;
}

.btn{
    height: 50px;
    width: 197px;
    background-color: #FEA301;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    text-align: center;
}

.banner-description{
    /* width: 55%; */
    /* height: 350px; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.font-56{
    font-size: 3.5rem;
}

.font-regular{
    font-weight: 400;
}

.banner-p{
    margin: 20px 0;
}

.btn-enroll{
    height: 50px;
    width: 197px;
    background-color: black;
    color: #FFFFFF;
    border: none;
    border-radius: 12px;
    text-align: center;
    font-weight: 700;
    margin: 0;
}

.banner{
    /* height: 575px; */
    flex-direction: row-reverse;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

/* main part start */

main{
    background: url('../assets/bg.png'), linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
}

.curriculum{
    padding: 60px 0;
}

.standard{
    font-size: 2.8rem;
    text-align: center;
}

.card-section{
    margin: 80px 0;
    display: flex;
    justify-content: space-between;
}

.card{
    height: 476px;
    width: 367px;
    padding: 53px 40px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 18px;
    box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
}

.card-1{
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

.card-2{
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

.card-3{
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

/* responsive part */

@media screen and (max-width: 576px) {
    .list, .btn{
        display: none;
    }
    .hamburger{
        display: block;
        font-size: 30px;
    }
    .border-line{
        display: block;
        border: 1px solid orange;
        width: 100%;
    }
    .hero{
        width: 337px;
        height: 413px;
    }
    .banner{
        flex-direction: column;
        gap: 20px;
    }
    .banner-description{
        /* width: 100%; */
        text-align: center;
    }
    .font-56{
        font-size: 32px;
    }
    .font-size-20{
        font-size: 14px;
    }
    .btn-enroll{
        height: 42px;
        width: 131px;
        border-radius: 8px;
    }
}